*{
    border: 1px solid red;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    background-color: #e8ded9
}
​
body{
    padding: 0;
    margin: 0px;
    width: 400;
    height: 500;
}
​
span {
    color: #61c386;
}
nav {
    display: flex;
}

ul{
    font-style: #5b8c6f;
    list-style: none;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: inherit;
    color: #5b8c6f;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
}
.button {
    background-color: #61c386;
    color: white;
    list-style: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
​
.button:hover {
    color: #f7e966;
    
}
​
@media (max-width: 500px) {
    .container{
        display: flex;
        padding: 0;
        margin: 0px;
        width: 400;
        height: 500;
    }
} 